body{
    background-color: rgb(102, 22, 177);
    text-align: center;
 }

.main-container{
    width: 1200px;
    height: 600px;
    background-color: white;
    margin-left: 200px;
    color: black;
    text-align: center;
}
.questions{
    margin-left: 0px;
    padding-top: 100px;
}
.questionNo{
    position: absolute;
    left: 250px;
}

.options{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
}
.options div{
    background-color: rgb(39, 157, 226);
    width: 500px;
    height: 40px;
    margin-left: 50px;
    border-radius: 25px;
    text-align: center;
}

.btns{
    margin-left: 35%;
    width: 350px;
    display: flex;
    justify-content: space-between;
    
}
.btn-container{
       width: 1200px;
       display: flex;
       justify-content: center;
       align-items: center;
}
.btns button{
   margin-top: 40px;
   margin-left: 10px;
   width: 100px;
   
}

.previous{
    background-color: blueviolet;
}

.next{
    background-color: green;
}

.quit{
    background-color: red;
}